<section id="features" class="container">
    <h2 class="header">Hizmetlerimiz</h2>
    <div class="features">
        <div class="card">
            <span><img src="../../../assets/img/icons/icons8-power-transformer-64.png" alt=""></span>
            <h4>Pano ve Trafo</h4>
            <p>
              Elektrik için en önemli kısım olan pano ve trafo işlemleri arıza,bakım onarım dahil tüm işlemler tarafımızdan yapılmaktadır.
            </p>
        </div>
        <div class="card">
            <span><img src="../../../assets/img/icons/icons8-doorbell-50.png" alt=""></span>
            <h4>Diafon ve Otomatik Kapı sistemleri</h4>
            <p>
                Güvenliğiniz için en kaliteli ve en güvenebileceğiniz ürün fırsatları sunuyoruz.
            </p>
            
        </div>
        <div class="card">
            <span><img src="../../../assets/img/icons/icons8-electricity-50.png" alt=""></span>
            <h4>Her Türlü elektrik işine ivedilikle bakılır</h4>
            <p>
               Arıza,bakım onarım dahil tüm elektrik işleri ivedilikle çözülür.
            </p>
        </div>
        <div class="card">
            <span><img src="../../../assets/img/icons/icons8-gps-antenna-50.png" alt=""></span>
            <h4>Televizyon ve Anten işlemleri</h4>
            <p>
                Televizyonun anten bağlantısı ve gerekli işlemleri tarafımızdan yapılmaktadır.
            </p>
         </div>
    </div>
</section>
