<section id="contact" class="container">
  <h2 class="header">BIZE ULAŞIN</h2>
  <div class="pricing">
    <div class="card">
        <h3 class="header">İletişim</h3>
            <p>
              <strong
                ><h4>ADRES:</h4><p>KONAK MAHALLESİ YALI SOKAK NUMARA 9 NİLÜFER BURSA, 16265
                NİLÜFER/Bursa</p></strong
              >
                <br />
              <strong><h3>Telefon: {{ this.phoneNumber }}</h3></strong> 
              <strong
                >
                <h3>Whatsapp Hattı : <a href="https://wa.me/+905332574649" target="_blank">
                    <img
                      src="../../../assets/img/icons/icons8-whatsapp-48.png"
                      alt=""
                  /></a> </h3>
                
              </strong>
              <br />
            </p>

    </div>
    <div class="card">
        <div class="iframe">
            <div class="iframe-wrap">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047.1057430151045!2d28.976420199999993!3d40.206710699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca169f570bc17b%3A0x7815a68ca277425e!2sBeker%20Elektrik!5e0!3m2!1str!2str!4v1710124436167!5m2!1str!2str"
            width="560"
            height="315"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div> 
    </div>
</div>
  </div>
  
</section>
