<header id="header" class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h4>Tüm Elektrik işleri için bir telefon uzaktayız</h4>
            <H1> <span>Beker Elektrik</span> olarak;</H1>
            <p>
                Yıllardan gelen tecrübemizle her türlü elektrik,pano,trafo,elektrik tesisi,elektrik bakım ve onarım,ışıklandırma vb. her türlü işlerinizde hizmetinizdeyiz.
                Yaptığımız projelerle tecrübemizi ve kalitemizi kanıtlamış bulunmaktayız.Her zaman müşteri memnuniyeti odaklı çalışmaktayız.
                Elektrik işlerinizde bir telefon kadar yakınız.
            </p>
        </div>
        <div class="image">
            <img src="../../../assets/img/doneProje/bekerE10.jpeg">
        </div>
    </header>